* {
  margin: 0;
  padding: 0;
}
body {
  font: 13px/20px Ubuntu, Arial, Helvetica, sans-serif !important;
}
body p {
  color: #888;
}
body ul li {
  color: #888;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
li {
  list-style-type: none;
}
.block-preim {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.content-before-categories {
  max-width: 1162px;
  margin: 0 auto;
}
.content-before-categories ul li::before {
  color: #d54fba;
}
.content-before-categories ul li:before {
  content: "\25CF";
}
.item {
  display: flex;
  align-items: center;
}
.item .title {
  margin-left: 5px;
}
.details-text {
  text-align: center;
}
.block {
  position: absolute;
  left: 5px;
  bottom: 0;
  right: 0;
  padding: 20px;
  display: none;
}
.block > p {
  max-width: 100%;
}
.block > #idTitle {
  font-family: 'Open Sans', sans-serif, Arial;
  font-size: 10px;
  padding-bottom: 10px;
  line-height: 15px;
  margin: 0px 0 -15px;
}
#idTitle {
  text-align: left;
  font-weight: 600;
  font-size: 18px;
  color: white;
  white-space: nowrap;
  padding: 3px 0 5px;
}
#idImages {
  margin-bottom: 10px;
  position: relative;
  width: 300px;
  margin-left: -40px;
  overflow: hidden;
  overflow-x: hidden;
}
#idImages:hover {
  cursor: pointer;
}
#idImages:hover img {
  transform: scale(1.1);
  overflow-x: hidden;
}
#idImagesNotEffect {
  position: relative;
  width: 300px;
  margin-left: -40px;
  height: 340px;
}
#idImagesNotEffect:hover {
  transition: box-shadow ease-out 0.2s;
}
.imgFromBack {
  transition: 0.5s;
}
#idImages .block {
  display: block;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
#idPortfolio {
  margin-left: 7%;
  margin-right: 7%;
}
#idPortfolioDop {
  margin-left: 13%;
  margin-right: 13%;
}
.form {
  background: #d757b5;
  width: max-content;
}
.tll {
  padding: 0px 33px 0px 20px;
}
.hidden {
  display: none;
}
.min-width-img {
  width: 180px;
  height: 170px;
}
.title-category {
  font-weight: 600;
  font-size: 36px;
  border-bottom: 1px solid #e5e5e5;
}
.block-title-category {
  margin-left: -3%;
  padding-right: 20%;
}
.details-text {
  width: 180px;
}
.block-images {
  color: #d346ad;
  transition: 0.2s;
  width: 180px;
}
.block-images:hover {
  color: black;
  width: 180px;
  box-shadow: 0 0 8px 2px #888;
}
.shop {
  display: flex;
  align-items: center;
  text-align: center;
}
#idBtnDetails {
  color: #FFF;
  background: #d757b5;
  width: 70px;
  display: flex;
  justify-content: center;
}
#idBtnDetails .btnDetails {
  text-align: center;
  color: #FFF;
  font-size: 10px;
  height: 18px;
  align-items: center;
}
#idBtnDetails #id-details {
  color: #FFF;
  text-transform: uppercase;
}
#idBtnDetails #id-details:hover {
  background: #bf93b2;
}
#id-details-block {
  display: none;
  justify-content: space-around;
}
.block-images:hover #id-details-block {
  display: flex;
  justify-content: space-around;
}
.text {
  width: 19px;
  border: 0px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  background: #f7f7f7;
  color: #373737;
  font-size: 10px;
  height: 26px;
  border-radius: 0px;
  text-align: center;
  line-height: 13px;
}
.count-product {
  display: flex;
}
.btn-details {
  font-size: 10px;
}
.plus {
  line-height: 22px;
  height: 26px;
  width: 21px;
  cursor: pointer;
  color: gray;
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
}
.plus:hover {
  background: #e3e3e3;
}
.minus {
  line-height: 22px;
  height: 26px;
  width: 21px;
  cursor: pointer;
  color: gray;
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
}
.minus:hover {
  background: #e3e3e3;
}
.form-product {
  border-color: #bf93b2;
  color: #d346ad;
}
.idBtnDetailsProduct {
  border: 1px solid;
  margin-left: -40px;
  width: 170px;
  display: flex;
  justify-content: center;
}
.idBtnDetailsProduct:hover {
  border-color: #cc9ac0 !important;
  background: #cc9ac0 !important;
  color: #fff !important;
  transition: 0.2s;
}
.btn:hover {
  border-color: #cc9ac0 !important;
  background: #cc9ac0 !important;
  color: #fff !important;
}
.btn-product {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #d346ad;
}
.form-product-shop {
  display: flex;
}
.continue {
  color: #6d6d6d;
  border-color: #e5e5e5;
}
.continue:hover {
  border-color: #cc9ac0 !important;
  background: #fff !important;
  color: #6d6d6d !important;
}