
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Корзина</title>
	<link href="~/css/HeaderStyles.css" rel="stylesheet" />
	<link href="~/css/MainStyles.css" rel="stylesheet" />
	<link href="~/css/FooterStyles.css" rel="stylesheet" />
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<!-- Подключение фреймворка Vue -->
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	<!-- Выгрузка категорий товаров. -->
	<div id="idPortfolioDop" class="col-lg-12 col-xs-12">
		<div class="content">
			<div class="col-lg-12 block-title-category mt-2 mb-2">
				<h1 class="title-category">Корзина</h1>
			</div>

			@model IEnumerable<TextilWorld.Models.CategoryDetails>
			@foreach (var item in Model) {
			<div id="idImagesNotEffect" class="col-lg-3 col-xs-12">
				<div class="block-images">
					<img class="min-width-img" src="@Url.Content(item.ImagePath.Replace("wwwroot", "~"))" /> <br />

					<div class="details-text">
						@item.Details
					</div>
				</div>
			</div>
			}
		</div>

		@foreach (var item in Model) {
		<div class="form-group form-product-shop">
			<form class="form-product col-lg-3 mr-5" asp-action="RouteToMain" asp-controller="Product">
				<input id="id-details" type="submit" value="Продолжить покупки" class="continue idBtnDetailsProduct btn fancy btn-1 btn-sm btn-details text-center btn-product" />
			</form>

			<form class="form-product col-lg-3 ml-5" asp-action="DisplayToOrder" asp-controller="Product" asp-route-id="@item.Id" method="get">
				<input id="id-details" type="submit" value="Оформить заказ" class="idBtnDetailsProduct btn fancy btn-1 btn-sm btn-details text-center btn-product" />
			</form>
		</div>
		}
	</div>
</body>
</html>

