
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Продажа текстиля</title>
	<link href="~/css/HeaderStyles.css" rel="stylesheet" />
	<link href="~/css/MainStyles.css" rel="stylesheet" />
	<link href="~/css/FooterStyles.css" rel="stylesheet" />
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<!-- Подключение фреймворка Vue -->
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	<div id="app">
		<div class="container">
			<div class="block-preim row pt-5 pb-5">
				<div id="bx_3218110189_2874" class="item mobile col-xs-3">
					<div class="img"><img src="~/images/icons/ce6246ef4e4a6e7add770137faf254f1.png" alt="Наличный и безналичный расчет" title="Наличный и безналичный расчет"></div>
					<div class="title">
						Наличный и безналичный<br /> расчет
					</div>
				</div>

				<div id="bx_3218110189_2875" class="item mobile col-xs-3">
					<div class="img"><img src="~/images/icons/22539cba89c733ddc03002f203798414.png" alt="Доставка по всей России" title="Доставка по всей России"></div>
					<div class="title">
						Доставка<br> по всей России
					</div>
				</div>

				<div id="bx_3218110189_2876" class="item mobile col-xs-3">
					<div class="img"><img src="~/images/icons/7fbc2e68f64eb46815d7e603a7a4b237.png" alt="Возврат товара в течении 30 дней" title="Возврат товара в течении 30 дней"></div>
					<div class="title">
						Возврат товара<br> в течении 30 дней
					</div>
				</div>

				<div id="bx_3218110189_2877" class="item mobile col-xs-3">
					<div class="img"><img src="~/images/icons/01179c694426bbd39b5d1eaa4d0416b5.png" alt="Гарантия качества всех товаров" title="Гарантия качества всех товаров"></div>
					<div class="title">
						Гарантия качества<br /> всех товаров
					</div>
				</div>

				<div id="bx_3218110189_58479" class="item mobile col-xs-3">
					<div class="img"><img src="~/images/icons/d813182d8dd4735890518f58397925d3.png" alt="Консультация специалиста" title="Консультация специалиста"></div>
					<div class="title">
						Консультация<br> специалиста
					</div>
				</div>
			</div>
		</div>

		<!-- Выгрузка категорий товаров. -->
		<div id="idPortfolio" class="col-lg-12 col-xs-12">
			<div class="content main-mobile">
				@model IEnumerable<TextilWorld.Models.Category>
				@foreach (var item in Model) {
					<div id="idImages" class="col-lg-3 col-xs-12">
						<a href="@Url.Action("GetImageConcreteCategory", "Product", new { item.Id })">
							<img class="grow imgFromBack" src="@Url.Content(item.ImagePath.Replace("wwwroot", "~"))" /> <br />
						</a>
						<div class="block details-text col-lg-3 col-xs-12">
							<form class="form">
								<div class="form-group hidden">
									<input type="text" name="id" value="@item.Id" />
								</div>
								<div class="tll">
									<p id="idTitle">@item.Title</p>
								</div>
							</form>
						</div>
					</div>
				}
			</div>
		</div>

		<div class="content-before-categories">
			<h1 class="mb-5 mt-5 mobile-title">Продажа текстиля в России и регионам.</h1>
			<p>
				Магазин «Текстиль для дома» предлагает качественную продукцию для вашего дома из натуральных материалов. У нас вы можете приобрести постельное белье из сатина, бязи, жаккарда, шелка. А также одеяла и пледы, подушки, наматрасники, покрывала, детский текстиль, полотенца и многое другое.
			</p>

			<p>
				Текстиль для дома. Российских и зарубежных производителей. Оптом и розницу доставка по всем регионам России подробности можно уточнить по телефону 8(925)-120-91-00.
			</p>

			<p>
				Сделать заказ в нашем магазине «Текстиль для дома» достаточно просто: нужно лишь добавить приглянувшийся товар в корзину и оформить заказ или заказать обратный звонок, чтобы мы приняли вашу заявку. Мы гарантируем, что вы останетесь довольны покупкой и сэкономите денежные средства.
			</p>
		</div>
	</div>
</body>
</html>
