
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Заказ оформлен</title>
	<link href="~/css/HeaderStyles.css" rel="stylesheet" />
	<link href="~/css/MainStyles.css" rel="stylesheet" />
	<link href="~/css/FooterStyles.css" rel="stylesheet" />
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<!-- Подключение фреймворка Vue -->
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	<!-- Выгрузка категорий товаров. -->
	<div id="idPortfolioDop" class="col-lg-12 col-xs-12">
		<div class="content">
			<div class="col-lg-12 block-title-category mt-2 mb-2">
				<h3 class="title-category">Спасибо! Ваш заказ принят в обработку, в ближайшее время мы с вами свяжемся!</h3>
			</div>
		</div>
	</div>
</body>
</html>

